# To use your properties:
# Program arguments: --spring.config.additional-location=/path/to/external-application.yml
server:
  address: 127.0.0.1
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: # external
    username: # external
    password: # external
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 100
      minimum-idle: 40
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        hbm2ddl:
          import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
  liquibase:
    enabled: false
    change-log: classpath:changelog.xml
  jackson:
    serialization:
      write_dates_as_timestamps: false

liquibase:
  manual: true

jwt:
  key: # external
  expirationInMs: # external

socket:
  port: # external
